.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  gap: 250px;

  height: 100%;
  min-height: 80vh;

  @media (max-width: 1377px) {
    gap: 150px;
  }

  @media (max-width: 1194px) {
    flex-direction: column;
  }

  @media (max-width: 558px) {
    gap: 50px;
  }
}

.pictureContainer {
  background-color: transparent;
  width: 500px;
  height: 500px;
  perspective: 1000px;

  &:hover {
    .flipBoxInner {
      transform: rotateY(180deg);
    }
  }
}

.flipBoxInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.imageFront,
.imageBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  > div {
    border: 2px solid var(--primary-blue);
    border-radius: 50%;
    img {
      padding: 3px !important;
      border-radius: 50%;
    }
  }
}

.imageBack {
  transform: rotateY(180deg);
}

.descriptionContainer {
  width: 100%;
  max-width: 500px;

  h2 {
    color: var(--primary-blue);
    font-size: 3rem;
    font-weight: normal;
  }

  p {
    color: var(--text);
    text-align: justify;
  }

  @media (max-width: 558px) {
    padding: 0 1rem;
  }
}
